<% layout('layout/page') -%>
<% block('title', 'Forex task') -%>
<br/>
<form name="form-primary" method="post" class="form-inline">
    <div class="form-group">
        <label for="number">Number</label>
        <input type="text" class="form-control" id="number" name="number">
    </div>
    <button type="submit" id="submit" class="btn btn-default" disabled>Classify</button>
</form>
<p class="text-warning" id="warning">This is a not valid number.</p>
<hr>
<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th>Number</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>