<!DOCTYPE html>
<html>
<head>
    <title><%= blocks.title %></title>

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bundle.js"></script>
</head>
<body>
<section class="container">
    <%- body %>
</section>
</body>
</html>